/* ----- Сеточные стили ----- */


html,
body {
  min-width: 1122px;
  min-height: 1750px;
}

body {
  /* Временно для сетки */
  background-image: url('../img/barbershop-index.jpg');
  background-size: 1372px auto;
  background-repeat: no-repeat;
}
.site-navigation{background-color: red;}
.main-header {
  margin-bottom: 75px;

  /* Временно для сетки */
  min-height: 285px;
}
.main-navigation {
 /* Временно для сетки */
 min-height: 285px;
 background-color: transparent;
}
.main-header-logo {
  width: 368px;
  height: 153px;
  
  /* Временно для сетки */
  display: block;
}

.site-navigation {
  margin: 0;
  padding: 0;
  
  list-style: none;
  
  /* Временно для сетки */
  min-height: 70px;
}

.user-navigation {
  margin: 0;
  padding: 0;
  
  list-style: none;
  
  /* Временно для сетки */
  min-height: 70px;
}